.form-group label {
    color: #777;
    font-family: "Roboto-Regular";
    font-size: 13px;
    padding-top: 6px;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"], .form-group select, .form-group textarea {
    border: 2px solid #03a6b5;
    border-radius: 3px;
    color: #333333;
    height: 40px;
    padding: 0 8px;
    float: left;
    width: 350px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #333 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #333 !important; 
}
.select2-search-field .select2-default {
color: #333 !important;
}
.form-group textarea {
    height: 130px;
}
.form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border: 2px solid #ffb015;
    outline: medium none;
}
.form-group.input-radio>label:first-child {
    width: 250px;
}
.form-group.input-radio input+label,
.confirm-group input+label,
.choice-wrap label {
    display: inline;
    font-size: 14px;
    font-family: "Roboto-Regular";
    color: #333;
    text-transform: none;
    margin-right: 17px;
}
.form-group.input-radio.has-error .text-danger {
margin-left: 10px;
}
.form-group.input-radio input[type="radio"],
.choice-wrap input[type="checkbox"] {
    float: left;
    margin: 9px 0px 20px;
}
.choice-wrap input[type="checkbox"] {
    margin: 9px 0 0;
}
.form-group.input-radio label{
    margin-left:9px;
}

.form-group.input-group {
    width: 100%;
}
.form-group.parentForm {
    margin-top: 3px;
}
.form-group.dash-class {
    border-top: 1px solid #ccc;
    margin: 0;
    padding-top: 10px;
}

.form-group.parentForm > label:first-child, .form-group.subForm > label:first-child {
    font-family: "Roboto-Regular";
    font-size: 18px;
    width: 100%;
    color: #03a6b5;
    margin-bottom: 17px;
    cursor: pointer;
}
.form-group.parentForm > label:first-child ~ .form-group {
    display: none;
}
.form-group.complainForm > label:first-child ~ .form-group {
    display: none;
}
.form-group.complainForm > label.togglearrow:first-child:after {
    background: url("../images/arrow-sprite.png") no-repeat right -33px;
}
.form-group.complainForm > label:first-child:after {
    content: "";
    display: inline-block;
    background: url("../images/arrow-sprite.png") no-repeat right -48px;
    width: 20px;
    height: 7px;
}
.form-group.subForm > label:first-child {
    font: normal 16px "Roboto-Bold";
}
.form-group.parentForm > label:first-child:after {
    content: "";
    display: inline-block;
    background: url("../images/arrow-sprite.png") no-repeat right -16px;
    width: 20px;
    height: 7px;
}
.form-group.parentForm > label.togglearrow:first-child:after {
    background: url("../images/arrow-sprite.png") no-repeat right -1px;
}
.form-group.subForm > div > .subForm:first-child {
    border-top: none!important;
}
.form-group input[type="submit"], button[type="submit"], button[type="button"] {
    background: #EF3F55;
    font-family: "Roboto-Regular";
    font-size: 18px;
    height: 40px;
    width: 90px;
    border-radius: 4px;
    color: #fff;
    border: 0;
}
.form-group input[type="submit"]:hover, button[type="submit"]:hover, button[type="submit"]:focus, button[type="submit"]:active, button[type="button"]:hover, button[type="button"]:active, button[type="submit"]:focus {
    background-color: #BC1F34;
    border-color: transparent;
}
.form-class > div:last-of-type,.file-upload-form > div:last-of-type{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.button-wrap{
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 30px;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.button-wrap button{
    margin-right: 10px;
}
.file-upload-form > div:last-of-type{
    padding-bottom: 12px;
}

.form-group input.has-error, .form-group select.has-error,.form-group textarea.has-error, .error-box,.form-group .input-name.has-error {
    border: 2px solid #FF7272!important;
    border-radius: 4px;
}

.form-group.hidden-label.sever-other {
    width: 100%!important
}
.add-more-cross .form-group.hidden-label.hidden-label-text {
    width: 235px !important;
}
.form-group.hidden-label.add-more-cross .remove-more {
    background: url("../images/tick.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 10px 0 0 3px;
    width: 20px;
}
.add-more-cross label,.add-more-cross select,.add-more-cross .form-group{
    margin:0;
}
.form-group.add-more {
    width: 130px !important;
    border: 1px dashed #03A6B5;
    color: #03A6B5;
    font-size: 14px;
    background-color: #fff;
    position: relative;
    padding-left: 16px;
    margin-left: 10px;
}
.form-group.add-more:hover {
    color: #777;
    border-color: #777;
    background-color: #fff;
}
.text-danger {
    margin-top: 6px;
    padding-left: 325px;
}

Select2 .select2-container {
    float: right;
    margin-right: 35px!important;
    width: 360px !important;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-size: 14px;
    color: #333;
    font-family: 'Roboto-Regular';
    line-height: 20px;
    background: #eee;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    zoom: 0;
    -webkit-overflow-scrolling: touch;
}
a {
    color: #EF3F55;
    text-decoration: none;
    cursor: pointer;
}
a:focus, input:focus, textarea:focus, button:focus {
    outline: none;
}
a:hover {
    color: #BC1F34;
}
a:link, a:visited {
    text-decoration: none;
}
h1, h2 {
    font-size: 24px;
    margin: 0;
    font-family: 'Roboto-Bold';
    font-weight: normal;
    color: #333;
    line-height: 30px;
    width: auto;
}
h2 {
    margin-bottom: 0;
}
h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto-Bold';
    font-weight: normal;
}
h4 {
    font-size: 16px;
    color: #333;
    font-family: 'Roboto-Bold';
    margin-bottom: 20px;
}
p {
    color: #333;
    margin-bottom: 10px;
}
img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
    height: auto;
}
::-moz-selection {
    background: #EF3F55;
    /* Safari */
    
    color: #fff;
}
::selection {
    background: #EF3F55;
    /* Safari */
    
    color: #fff;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    
    color: #aaa !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #aaa !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #aaa !important;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    color: #aaa;
}
/*font-face*/

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Regular-webfont.woff') format('woff'), url('fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('fonts/Roboto-Regular-webfont.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Bold-webfont.woff') format('woff'), url('fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('fonts/Roboto-Bold-webfont.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-bolditalic';
    src: url('fonts/roboto-bolditalic-webfont.eot');
    src: url('fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-bolditalic-webfont.woff') format('woff'), url('fonts/roboto-bolditalic-webfont.ttf') format('truetype'), url('fonts/roboto-bolditalic-webfont.svg#roboto-bolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-italic';
    src: url('fonts/roboto-italic-webfont.eot');
    src: url('fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-italic-webfont.woff') format('woff'), url('fonts/roboto-italic-webfont.ttf') format('truetype'), url('fonts/roboto-italic-webfont.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*** FORM ***/

form input[type="text"], form input[type="password"], textarea, #VreportReport_verifyCode {
    border: 2px solid #03A6B5;
    border-radius: 3px;
    width: 100%;
    height: 48px;
    padding: 4px;
    font-family: 'Roboto-Regular'!important;
    color: #333;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:focus, textarea:focus, button:foucs {
    outline: 0;
    border: 0;
}
select option{
    padding: 10px;
}
.form-group {
    margin-bottom: 12px;
    clear: both;
    overflow: hidden;
}
.form-group.subForm {
    margin-top: 0;
}
.form-group img {
    margin-bottom: 10px;
}
.form-group label {
    margin-left: 10px;
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: normal;
    color: #777;
    float: left;
    width: 250px;
    margin-right: 20px;
    position: relative;
}
.complainForm{
    width: 100%;
}
.complainForm .form-group label {
    /*width: 197px;*/
    /*float: right;*/
}
form input:focus, form textarea:focus {
    outline: none;
    border: 2px solid #FFB015;
}
form input[type="submit"], .form-group select:focus {
    outline: 0;
}
form input[type="submit"]:first-child {
    margin-left: 0!important;
}
form input[type="submit"], .buttons .delete, .buttons .cancel, .history-btn {
    background: #03A6B5;
    border-radius: 4px;
    border: 0;
    color: #fff;
    width: 140px;
    height: 48px;
    font-size: 24px;
    font-family: 'Roboto-Regular';
    margin-top: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    line-height: 48px;
    text-align: center;
    margin-right: 10px;
}
form input[type="submit"]:hover, .buttons .cancel:hover, .buttons .delete:hover, .history-btn:hover {
    background: #19707B;
}
.container form {
    width: 100%;
}
.form-wrapper .form-group select:focus, .form-wrapper .form-group textarea:focus, .redactor_box:focus {
    border: 2px solid #FFB015;
}
.form-wrapper .form-group .redactor_box textarea:focus {
    border: 0;
}
#redactor_modal select {
    position: static!important;
    visibility: visible!important;
}
.redactor_editor div, .redactor_editor p, .redactor_editor ul, .redactor_editor ol, .redactor_editor table, .redactor_editor dl, .redactor_editor blockquote, .redactor_editor pre {
    font: 18px 'Roboto-Regular'!important;
    color: #666;
}
.redactor_editor {
    height: 300px;
    font: normal 20px 'Roboto-Regular'!important;
}
.redactor_box {
    width: 576px;
    margin-bottom: 6px;
    border-radius: 3px;
    border: 2px solid #03A6B5;
}
.errorSummary {
    margin-bottom: 20px;
    display: none;
}
.errorSummary p {
    color: #333;
}
.errorSummary ul {
    padding-top: 0;
}
.errorSummary ul li {
    float: none;
    list-style: none;
}
.form-group .left-textfield {
    width: 95% !important;
    font-size: 16px!important;
}
.form-wrapper .form-group textarea {
    border: 2px solid #03A6B5;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    height: 160px;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.form-wrapper .top-wrapper {
    padding: 40px 0 70px;
}
.form-wrapper .form-group .redactor_box textarea {
    border: 0;
    background: none;
}
.form-wrapper .form-group select[multiple="multiple"] {
    height: 58px;
    width: 580px;
    padding: 18px 22px;
}
.form-wrapper .form-group select[multiple="multiple"] option:focus {
    background: none;
}
.message {
    margin-bottom: 10px;
}
.form-group .select2-container {
    float: left;
}
.form-group label.required .required {
    color: #f00;
}
.select2-container-multi .select2-choices .select2-search-field input {
    height: 24px;
}
/*** TABLE ***/

.table {
    margin-bottom: 20px;
}
.table th {
    font-family: Roboto-Bold;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 5px solid #ccc!important;
    text-align: left;
    padding: 6px 10px!important;
    font-weight: 400;
}
.table td {
    border-bottom: 1px solid #ccc;
    padding: 7px 10px!important;
    vertical-align: top;
}
.table td a:hover {
    text-decoration: none;
}
.main-wrapper {
    position: relative;
    min-height: 100%;
}
.main-container {
    padding-bottom: 68px;
}
/*custom dropdown*/

.wrapper-dropdown-3 {
    /* Size and position */
    
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    padding-bottom: 4px;
}
.wrapper-dropdown-3 span {
    color: #fff;
    background: #EF3F55 url(../images/drop-arrow.png) no-repeat 90% 48% !important;
    width: auto!important;
    padding-right: 30px!important;
    font-size: 14px;
    font-family: 'Roboto-Bold';
    display: block;
    padding: 10px 10px 10px 34px;
    border-radius: 3px;
}

.wrapper-dropdown-3 span:before {
    position: absolute;
    content: "";
    top: 11px;
    left: 10px;
    width: 16px;
    height: 18px;
   background: url(../images/sprite.png) no-repeat 0px -21px;
}
.dropdown {
    top: 44px;
    left: auto;
    right: 0;
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    display: none;
    border-radius: 4px;
    border: 0;
    z-index: 5;
    background: #333;
    position: static;
    margin-bottom: 10px;
}

.dropdown li {
    width: 310px;
    padding: 0 10px;
}
.dropdown li a {
    display: block;
    border-bottom: 1px solid #444;
    line-height: 22px;
    color: #ebebeb;
    font: normal 18px 'Roboto-Regular';
    padding: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size: 16px;
}
.case-wrap ul.dropdown{
    margin-bottom: 20px;
    float: right;
    padding:5px 0;
}
.case-wrap ul.dropdown li{
    padding:0 5px;
}
.dropdown li a:hover {
    background: #111;
    border-radius:4px; 
}
.dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3:hover .dropdown {
    display: block;
}
.dropdown_toggle {
    display: none!important;
}
.dropdown_show {
    display: block;
}
/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {} .wrapper-dropdown-3 .dropdown.active {
    display: block;
    pointer-events: auto;
}
/*** SELECT2 ***/

.select2-search input {
    margin-top: 5px;
}
.select2-container-multi .select2-choices {
    border: 0;
    border-radius: 3px;
    height: 48px!important;
    box-sizing: border-box;
}
.select2-container-multi .select2-choices:focus {
    outline: 0;
}
.select2-container.error input, .select2-container.error textarea {
    border: 0!important;
}
.select2-offscreen {
    display: none!important;
}
.multi-select {
    float: left;
    width: 46.42%!important;
}
.multi-select .select2-container-multi {
    width: 100%;
}
.select2-choices {
    background: #fff!important;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #FFB015;
}
.select2-drop {
    margin-top: 0!important;
}
.select2-drop:empty {
    display: none!important;
}
.select2-container-multi .select2-choices {
    height: auto!important;
    border: 2px solid #03A6B5;
}
.select2-container input {
    margin-bottom: 4px;
    font-size: 16px!important;
}
.dk_open .dk_options {
    display: block!important;
}
.dk_options li:last-child a:hover {
    border-bottom: none;
}
.dk_container {
    background: none!important;
}
.dk_container:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-wrapper .form-group select[multiple="multiple"] {
    border: 0;
    width: 540px;
    color: #aaa;
    display: none!important;
}
.form-group .select2-container{
    overflow: hidden;
    width: 350px;
}

.form-group select, .form-group .select2-container ul {
    border: 2px solid #03A6B5!important;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-family: 'Roboto-Regular';
    height: 40px;
    width: 350px;
    font-size: 14px;
    padding: 4px;
    top: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    visibility: visible;
    background: #fff;
    float: left;
}
.form-group .has-error select,
.form-group .select2-container.has-error ul{
    border: none !important;
}
.complainForm .form-group select {
    width: 120px;
    float: left;
    margin-left: 10px;

}

.small-form{
    clear: both;
}

.small-form .form-group{
    width: 412px;
    /*border: solid 1px;*/
    box-sizing: border-box;
}

.small-form>.form-group:nth-child(even){
    margin-right: 55px;
    /*border:solid 1px red;*/
}

.small-form>.form-group.other-form~.form-group:nth-child(even){
    margin-right: 0;
}

.small-form>.form-group.other-form~.form-group:nth-child(odd){
    margin-right: 55px;
}

.small-form.form-group label {
    padding-top: 10px;
    width: 230px;
    margin-right: 10px;
}

.full-width{
	width: 100% !important;
	margin: 0;
}

.small-form .full-width >.form-group:nth-child(even) {
	margin-right: 0;
	margin-left: 0;
}

.full-width .form-group:nth-child(even){
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.full-width input[type="text"]{
	width: 122px;
	margin-left: 10px;
}

.full-width > .form-group{
	width: auto !important;
}

.full-width .small-form-group{
	width: 132px !important;
}

.complainForm .sub-complainForm{
    width: 100%;
}


.complainForm>label,
.sub-complainForm > label{
    width: 100% !important;
}

.complainForm .form-group {
    display: inline;
    float: left !important;
    clear: none;
}
.complainForm .form-group.input-radio {
    width: 100%;
    display: block;
}
.complainForm .form-group.input-radio label {
    float: left;
    width: 30px;
}
.complainForm .form-group.input-radio >label:first-child {
    width: 250px !important;
}
.hidden-label label {
    display: none;
}
.hidden-label .form-group{
    width: auto;
}
.form-group.hidden-label.hidden-label-text {
    width: 280px !important;
}
.form-group.hidden-label input {
    width: 230px !important;
    margin-left: 10px;
    margin-right: 10px;
}
.sub-options{
    border-top:solid 1px #ccc;
    padding-top: 6px;
}

.sub-options .sub-title{
    color: #000;
    font-weight: 500;
    padding-left: 75px;
}
.sub-options .choice-row{
    clear: both;
    overflow: hidden;
}
.choice-row label{
    color: #777;
    margin-left: 10px;
}
.inner-nav {
    width: 940px;
    margin: 0 auto;
}
.navbar-default {
    background: #fff;
    border: 0;
    min-height: 100%;
}
.navbar-brand {
    color: #888!important;
    font-size: 14px;
    padding: 0;
    height: auto;
    margin-left: 20px;
    margin-top: 17px;
}
.create-row h1 {
    margin: 0 0 10px;
    float: left;
}
.create-row .panel {
    clear: both;
    border: 0;
    box-shadow: none;
}
.create-row .panel-body {
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
}
.create-row .panel-body:empty {
    display: none;
}
.input-radio .control-label {
    width: auto;
}
.form-group.contact-form {
    /*margin-top: 20px;*/
}
.contact-form > label {
    margin-bottom: 10px;
}
.confirm-group label {
    line-height: normal;
}
.confirm-group input[type="radio"] {
    float: left;
    margin-right: 4px;
    margin-left: 20px;
}
.confirm-group input[type="radio"]#Yes_Yes, .confirm-group input[type="radio"]#No_No {
    margin-left: 0;
    margin-top: 7px;
}
.confirm-group input[type="radio"]+label {
    width: auto;
}
.severe-complain .form-group.input-radio label+input[type="radio"]#Yes_Yea {
    margin-left: 0;
}

.complainForm>label{
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
}

.complain>label {
    color: #333;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}
.add-case-link {
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
}
.add-case-link a {
    background: #EF3F55;
    width: auto!important;
    border-radius: 3px;
    float: right;
    text-align: center;
    padding: 7px 20px 7px 10px;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 5px;
}

.add-case-link a:hover{
    background: #BC1F34;
}
.add-case-link a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "Roboto-Bold";
    line-height: 26px;
    position: relative;
}
.add-all .add-case-link {
    padding-left: 30px;
    margin-top: 0;
}

.services-top-heading .add-all .add-case-link a{
    padding: 7px 20px 7px 30px;
    margin-top: 0;
}

.services-top-heading .add-all .add-case-link a:before {
    top:11px;
    left:10px;
}

.services-top-heading .add-all .add-case-link a:hover {
  background: #EF3F55; 
}

.add-all .add-case-link a:before {
    position: absolute;
    content: "";
    top: 4px;
    left: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) no-repeat -6px -152px;
}
.add-case-link span {
    padding-right: 10px;
    font-size: 26px;
    float: left;
}

.add-case-link a:hover {
    text-decoration: none;
}
.add-buttons {
    float: right;
}
.add-buttons div {
    margin-left: 10px;
    float: left;
}
.add-row .panel-default {
    padding: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
}
.add-list {
    float: right;
    margin-bottom: 20px;
}
.create-row h2 {
    font: normal 24px/40px "Roboto-Bold";
    float: left;
    margin-bottom: 18px;
}
.create-row .panel-body.followup-block {
    padding: 30px;
    font-size: 16px;
    line-height: 22px;
    background: #fff;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.user-info {
    font-size: 14px;
    color: #999;
    display: block;
    margin-top: 4px;
    clear: both;
}
.followup-panel {
    background: transparent;
    border: 0;
    box-shadow: none;
}
.edit-btn,
.delete-btn {
    float: right;
    margin-right: 10px;
}

.edit-btn a,
.delete-btn a {
    background: #fff url(../images/edit.png) no-repeat 12px 7px;
    display: block;
    line-height: 34px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 20px 0 29px;
    font-size: 14px;
    line-height: 29px;
    width: 190px;
}

.delete-btn a {
    background: #fff url(../images/ics_delete.png) no-repeat 12px 7px;
    width: 125px;
}

.edit-btn a:hover,
.delete-btn a:hover {
    text-decoration: none;
    color: #EF3F55;
}
.description {
    clear: both;
}
.buttons-block {
    float: right;
}
.follow-btn {
    float: left;
    margin-right: 10px;
}
.service-description label {
    float: left;
    width: 230px;
    margin-right: 10px;
}
.service-description .info {
    float: left;
}
.service-info {
    overflow: hidden;
}
.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}
.login-wrapper, .login-wrapper .panel-heading {
    background: transparent;
    border: transparent;
    box-shadow: none;
}
.panel-heading p{
    font-size: 14px;
    margin: 5px 0 0;
    color: #7BC0B5;
}
.login-wrap .panel-heading {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 32px;
    line-height: normal;
    padding: 0;
}

.login-wrapper {
    width: 404px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 44px 50px;
}
.login-wrapper .panel-heading {
    color: #333;
    font-size: 24px;
    font-family: 'Roboto-Regular';
    margin-bottom: 40px;
    padding: 22px 0 0;
}
.input-wrapper label {
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    color: #333;
    font-weight: normal;
    text-align: left!important;
}
#login-form .input-wrapper label, #forgot-password-form .input-wrapper label {
    color: #777;
    font-family: "Roboto-Regular";
    padding: 0;
    margin-bottom: 6px;
    line-height: normal;
    font-size: 16px;
    margin-left: 0;
}
#login-form .input-wrapper input, #forgot-password-form .input-wrapper input {
    width: 302px!important;
    height: 40px;
    font-size: 16px;
    float: left;
    margin-bottom: 6px;
}
#login-form .input-wrapper .col-sm-6, #forgot-password-form .input-wrapper .col-sm-6 {
    clear: both;
    width: 100%;
    padding: 0;
    margin: 0;
}
#login-form .input-wrapper, #forgot-password-form .input-wrapper {
    margin: 0 0 20px;
}
.login-wrapper .panel-body {
    padding: 0;
}
.login-wrapper .password-wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.checkbox-wrapper {
    display: block!important;
    margin-bottom: 0!important;
}
.checkbox-wrapper input[type="checkbox"]:checked + label:before, .list-table input[type="checkbox"]:checked + label:before {
    content: "\2713";
    font-size: 14px;
    color: #444;
    text-align: center;
    line-height: 15px;
}
.checkbox-wrapper label {
    font-size: 12px;
    padding-left: 28px;
    margin-left: 1px;
    line-height: 24px;
}
.checkbox-wrapper input[type="checkbox"], .district-table td input[type="checkbox"] {
    display: none;
}
.checkbox-wrapper label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 30px!important;
    padding-top: 5px!important;
}
.checkbox-wrapper label:before, .list-table label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    border: 4px solid #aaa;
}
.forgot-password {
    font-size: 14px;
    color: #EF3F55;
    float: right;
}
#login-form button {
    font-size: 18px;
}
.button-wrapper {
    margin: 0!important;
    float: left;
    clear: none;
}
#forgot-password-form .button-wrapper {
    margin: 0!important;
}
#forgot-password-form .button-wrapper .col-sm-offset-3 {
    margin: 0;
    padding: 0;
}
#login-form .error, #forgot-password-form .error {
    margin: 0;
}
.case-wrapper .panel-body {
    padding: 0;
}
.case-wrapper table tr {
    background: transparent!important;
    border-bottom: 5px solid #eee;
}
.case-wrapper table td {
    background: #fff!important;
    border: 0!important;
    padding: 15px 20px!important;
    margin-bottom: 5px;
}
.case-wrapper table tr td:last-child {
    width: 150px;
}
.case-wrapper table tr td:last-child span {
    font-size: 13px;
    color: #777;
    display: block;
}
.case-wrapper table tr td:last-child span:last-child, .followup-description .time {
    color: #C5C5C5;
    font: normal 13px 'roboto-italic';
}
.followup-description .time {
    display: block;
}

.case-wrapper table tr:nth-child(2n) td {
    background: #F8F8F8!important;
}
.top-heading {
    overflow: hidden;
    margin: 0;
}
.top-heading h1 {
    float: left;
    margin: 0;
}
.case-num {
    float: right;
    font: 18px/50px "Roboto-Bold";
    color: #333;
}
.case-wrap {
    background: transparent;
}
.case-wrap .panel-body {
    padding: 0;
}
.info-wrap {
    padding: 18px 24px;
    border-radius: 4px;
    clear: both;
    background: #fff;
    margin-bottom: 50px;
}
.case-wrap .title, .case-wrap .followup-heading {
    font: normal 18px "Roboto-Regular";
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    color: #03A6B5;
}
.case-wrap .sub-title {
    font: normal 15px "Roboto-Bold";
    color: #03A6B5;
    margin-bottom: 10px;
}
.case-wrap .sub-inner-title {
    font: normal 14px "Roboto-Bold";
    clear: both;
    padding-top: 10px;
    margin-bottom: 10px;
}

/*code need to be checked when placed temp. add in cwin not shown*/

.sub-inner-section>.sub-inner-section>.sub-inner-title{
    /*display: none;*/
}

.sub-inner-section {
    float: left;
    width: 100%;
}
.sub-inner-section>.sub-inner-section{
    width:100%;
    float:left;
}
.sub-inner-section li {
    /*width: 100%!important;*/
}
.case-wrap .followup-heading {
    padding-bottom: 9px;
}
.case-wrap .followup-heading .title {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
    width: auto;
    padding: 6px 0;
    font-family: "Roboto-Regular";
    /*color: #333;*/
}
.case-wrap .followup-heading .button-block {
    float: right;
}
.case-wrap ul {
    overflow: hidden;
    clear: both;
    margin-bottom: 0;
}
.case-wrap ul li {
    list-style: none;
    padding-bottom: 4px;
    vertical-align: top;
    display: inline-block;
}
.case-wrap ul li label {
    font-weight: normal;
    color: #aaa;
    width: 160px;
    display: inline-block;
}
.case-wrap ul li > span:not(.time) {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    overflow: hidden;
}
.case-wrap ul li.more-description {
    width: 100%;
    margin-bottom: 8px;
}
.case-wrap ul li.more-description label {
        width: 200px;
        margin-bottom: 0;
}

.incident {
    clear: both;
    margin-bottom: 10px;
}
.incident ul li {
    width: 100%;
}
ul li p {
    display: inline-block;
    vertical-align: top;
    width: 728px;
}
.case-wrap .more, .case-wrap .less {
    float: right;
}
.case-wrap .less {
    display: none;
}
.case-wrap .more:hover {
    text-decoration: none;
}
.basic-more-info li{
    width: 50%;
    overflow:hidden;
}
.service-inner-wrap {
    clear: both;
}
.left-followup-wrap {
    width: 190px;
    float: left;
    font-size: 14px;
    color: #aaa;
}
.left-followup-wrap .date {
    width: 118px;
    float: left;
    margin-right: 10px;
    margin-top: 18px;
    text-align: right;
}
.left-followup-wrap .time {
    display: block;
    text-align: right;
}
.right-followup-wrap {
    width: 748px;
    float: right;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 25px 30px;
    margin-bottom: 20px;
}
.right-followup-wrap:before {
    position: absolute;
    content: "";
    top: 20px;
    left: -39px;
    height: 100%;
    width: 2px;
    background: #fff;
}
.inner-right-followup-wrap {
    position: relative;
}
.inner-right-followup-wrap:before {
    position: absolute;
    top: -6px;
    left: -38px;
    content: "";
    background: url(../images/arrow.png) no-repeat 0 0;
    width: 8px;
    height: 16px;
}
.right-followup-wrap .title {
    padding-bottom: 10px;
    margin-bottom: 12px;
}
.right-followup-wrap .title a:hover {
    text-decoration: none;
}
.followup-icon {
    background: url(../images/sprite.png) no-repeat -81px 0px;
    float: left;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    position: relative;
    z-index: 1;
}
.service-icon {
    background: url(../images/sprite.png) no-repeat -81px -130px;
    float: left;
width: 50px;
height: 50px;
text-indent: -9999px;
position: relative;
z-index: 1;
}
.follow-up {
    overflow: hidden;
}
.button-block a {
    float: left;
    font-size: 14px;
    padding: 0 20px 0 26px;
    border-radius: 4px;
    font: normal 14px/34px "Roboto-Regular";
    text-transform: none;
    margin-right: 10px;
    background: #eee;
    position: relative;
}

.button-block .followup-btn {
    background: #eee url(../images/ics_followup.png) no-repeat;
    background-position: 7px 10px;
}
.button-block a:hover {
   background-color: #ddd;
}
.button-block .edit-btn {
    margin-right: 10px;
    background: #eee url(../images/edit.png) no-repeat 10px 9px;
}
.button-block .edit-btn:hover {
    background: #ddd url(../images/edit.png) no-repeat 10px 9px;
    color: #EF3F55;
}
.case-wrap .follow-up ul li {
    /*width: 50%;*/
}
.case-wrap .follow-up ul li label {
    width: 200px;
}
.case-wrap .follow-up ul.follow-list li label {
    margin-top: 20px;
}
.service-inner-wrap ul li > span:not(.time) {
    width: 444px;
    float: right;
}
/*.followup-description {
    width: 444px;
    float: right;
}*/
.follow-list .followup-description { 
    padding-bottom: 10px;
}
.followup-files {
    border: none !important;
    padding: 0 !important;
}
.file-lists li .followup-description {
    padding: 0px !important;
    border: none !important;
}
.file-lists li .followup-description:nth-child(2) {
    border-top: 1px dashed #ccc !important;
    padding-top: 10px !important;
}
.follow-list ul li label {
    color: #aaa;
    width: 100% !important;
    background: #f5f5f5;
    padding: 3px 5px;
}
.follow-list li:first-child .followup-description {
    border-top: 1px dashed #ccc;
    padding-top: 10px;
    margin-top: 10px!important;
    width: 444px;
    float: right;
}
.followup-description .date {
    color: #aaa;
    margin-bottom: 4px;
}
.follow-up:last-of-type .right-followup-wrap:before {
    display: none;
}
.forgot-pwd-wrapper {
    float: left;
    margin: -35px 0 0 188px!important;
}
.error, .text-danger {
    color: #FF7272;
    font-size: 11px;
    float: left;
    background: url(../images/error-icon.png) no-repeat left 2px;
    margin-left: 6px;
    padding-left: 20px;
    margin-top: 10px;
    width: 244px;
    line-height: 18px;
}
.error:empty {
    display: none;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #777;
}
.has-error .form-group .select2-container ul{
border: none !important;
}
.footer {
    background: #fff;
    position: absolute;
    height: 68px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.inner-footer {
    width: 940px;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}
.fightvaw-logo {
    float: right;
}
.case-heading-wrapper {
    overflow: hidden;
    margin-bottom: 20px;
}
.case-wrapper td a {
    display: inline-block;
    margin-bottom: 16px;
}
.case-wrapper td p {
    color: #777;
}
.reg-num {
    font-size: 16px;
}
.case-edit-icon{
    background: url(../images/edit-icon.png) no-repeat left;
    display: inline-block;
    text-indent: -9999px;
    width: 11px;
    height: 16px;
    margin-left: 10px;
}
.no-list {
    background: #fff;
    color: #aaa;
    font-family: roboto-italic;
    padding: 8px 0;
    border-radius: 2px;
    text-align: center;
}
.select2-container-multi .select2-choices .select2-search-choice {
    font-size: 13px;
}
.last-update {
    color: #777;
    font-family: "Roboto-Bold";
    margin: 16px 0 4px;
    display: block;
    padding: 5px;
}
.alert {
    border-radius: 0;
    padding: 20px;
    font-size: 14px;
    color: #fff;
    border: 0;
    margin-top: 20px;
    clear: both;
}
.alert ul {
    padding-left: 20px;
}
.login-wrap .alert {
    width: 404px;
    margin: 0 auto 20px;
}
.alert-success {
    background: #7BC0B5 url(../images/success.png) no-repeat 20px;
    padding-left: 70px;
}
.alert-danger {
    background: #FF7272 url(../images/danger.png) no-repeat 20px;
    padding-left: 70px;
}
button.close {
    background: transparent url(../images/close.png) no-repeat 0 0!important;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    opacity: 1!important;
    margin-top: -4px;
    border-radius: 50%;
    margin-left: 5px;
}
.alert button.close button[type="button"]:active, .alert button.close button[type="submit"]:focus {
    border-radius: 50%;
    background: transparent url(../images/close.png) no-repeat 0 0!important;
    opacity: 1!important;
}
.navbar-right {
    float: right;   
    margin-top: 24px;
}
.navbar-right ul {
    margin: 0;
    padding: 0;
}
.navbar-right ul li {
    list-style: none;
    float: left;
    position: relative;
}
.navbar-right ul li a {
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px 5px;
}
.navbar-right ul li.all-cases {
    margin-right: 10px;
}
.navbar-right ul li.all-cases a {
    background: #EF3F55;
}
.navbar-right ul li.administrator {
    padding-bottom: 4px;
    margin-right: 10px;
}
.navbar-right ul li.administrator a {
    background: #777;
}
.navbar-right ul li.administrator > a {
    position: relative;
    padding-right: 20px;
}


.navbar-right ul li.administrator > a:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 6px;
    background: url(../images/drop-arrow.png) no-repeat 0 0;
    width: 9px;
    height: 6px;
}
.navbar-right ul li.administrator ul {
    display: none;
    position: absolute;
    top: 23px;
    right: 0;
    text-align: center;
    border-radius: 4px;
}
.navbar-right ul li.administrator ul li {
    width: 100%;
}
.navbar-right ul li.administrator ul li a {
    display: block;
    border-radius: 0;
    padding:4px 10px;
    width: 150px;
    border-bottom: solid 1px #6a6a6a;
}

.navbar-right ul li.administrator ul li a:hover {
    background-color: #6a6a6a;
}

.navbar-right ul li.administrator ul li:first-of-type > a{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


.navbar-right ul li.administrator ul li:last-of-type > a{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
     border-bottom: none;
}

.navbar-right ul li.administrator:last-of-type ul li a{
    border-radius: 4px !important;
     border-bottom: none;
     width: 100px;
}

.navbar-right ul li.administrator:hover ul {
    display: block;
}
.remain-description {
    display: none;
}
.basic-info + [data-readmore-toggle]{
  display: block;
  width: auto !important;
  float: right;
}
.more, .less, .basic-info + [data-readmore-toggle]{
    color: #EF3F55;
    cursor: pointer;
}
.more:hover, .less, .basic-info + [data-readmore-toggle]:hover {
    color: #bc1f34;
}
button#Cancel {
    margin-left: 10px;
}
/*psychologica section*/

.psychological-complain .form-group {
    width: auto;
}
.psychological-complain .form-group label {
    float: left;
}
.form-group select {
    width: 350px;
}
.complainForm.gynechology {
    clear: both;
    width: 100%;
}
.complainForm.gynechology > label:first-child {
    float: left;
    width: 100%;
    font-size: 14px;
}
.complainForm.gynechology .formgroup {
    float: left;
}
.subsection label {
    font-family: Roboto-Regular;
}
.subsection .form-group {
    min-height: 56px;
    margin-bottom: 0;
}
.hidden-label.option {
    width: 250px !important;
}
.hidden-label.option input {
    margin-left: 0;
}
.complainForm .form-group label {
    /*font-size: 12px;*/
}
.form-group ul {
    width: 350px;
}
.assessment {
    overflow: hidden;
}
.assessment ul {
    margin-bottom: 14px;
}
.assessment .more-description ul{
    margin-bottom: 0;
}

.assessment ul li {
    width: 50%;
    float: left;
}
.assessment-toggle .sub-inner-section {
    width: 100%;
}
.assessment-sub-inner-title {
    margin: 10px 0 12px;
    color: #777;
}
.assessment-sub-inner-title~ li {
    /*width: 50% !important;*/
}
.assessment ul li label {
    width: auto;
    color: #777;
}
.assessment ul li span {
   /*  color: #777 !important;
   width: auto !important;
   padding-left: 2px!important; */
}
.sub-complain ~ ul li {
    width: 100%;
}
.sub-complain ~ ul li label {
    width: 160px;
}
.assessment ul .more-description span, .basic-more-info ul .more-description span {
    color: #000 !important;
    width: 477px !important;
    margin-bottom: 30px;
    padding-left: 20px;
}

.assessment ul .more-description span{
	  margin-bottom: 0;
}
.other-info ul .more-description span {
    width: 674px !important;
    margin-bottom: 30px;
    padding-left: 20px;
}
.other-info ul li label {
    width: 218px;
}
.line-ans-title, .line-ans {
    float: left;
}
.line-ans-title {
    width: 240px;
}
.line-ans {
    color: #000;
    margin-top: 10px;
}
.sub-complain+.complain-info li>span {
    color: #000!important;
}
.form-info {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}
.form-info i {
    font-style: normal;
    color: #EF3F55;
}
.required {
    color: #EF3F55;
    position: absolute;
    bottom: 2px;
}

.edit-form h1 {
    width: auto;
    margin-bottom: 0;
}
.other-form {
    display: none !important;
}
.add-more:before {
    content: " ";
    background: url('../images/add-icon.png') 0 0 no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 10px;
    top: 11px;
}
.add-more:hover::before {
    background: url('../images/add-icon.png') 0 -12px no-repeat;
}
/*search form*/

.search-form {
    margin-bottom: 30px;
    clear: both;
    overflow: hidden;
    font-family: "Roboto-Regular" !important;
    color:#333;
}
.search-form label{
    color: #777;
}

.search-header {
    padding: 5px;
    background-color: #DDDDDD;
    clear: both;
    overflow: hidden;
    width: 45%;
    border-radius: 4px;
}
.search-filter {
    display: none;
    border-radius: 0 4px 4px 4px;
    padding: 20px;
    background-color: #DDDDDD;
    overflow: hidden;
    clear: both;
}
.search-form .search-wrapper.field-wrapper {
    width: 100%;
}
.search-form .search-wrapper.field-wrapper input {
    margin-right: 0px !important;
    padding-left: 35px;
    border:none;
}
.search-form .search-wrapper.field-wrapper:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 17px;
    height: 22px;
    background: url(../images/search.png);
}
.search-form button.search-buttton {
    background-color: #00A5B2;
    margin-top: 6px;
    float: left;
    display: none;
}
.search-form button.search-buttton:hover {
    background-color: #19707B;
}
.advance-search {
    color: #00A5B2;
    margin-top: 6px;
    float: right;
    margin-right: 7px;
      width: auto;
}
.hide-toggle{
    display: block;
}
.action-btn .advance-search {
    margin-left: 0;
}
.advance-search span.remove {
    display: none;
    background: url(../images/arrow-sprite.png) no-repeat 0 5px;
}

.advance-search span.add {
    background: url(../images/arrow-sprite.png) no-repeat 0 -10px;
}

.advance-search span.add, .advance-search span.remove {
    cursor: pointer;
    padding-left: 16px;
}
.action-btn {
    clear: both;
    overflow: hidden;
    padding-top: 10px;
}
.action-btn .cancel-search {
    background: #EF3F55;
}
.action-btn .cancel-search:hover{
    background: #333;
}
.action-btn .reset-button {
    background: #555;
}
.action-btn .reset-button:hover{
    background: #333;
}
.action-btn .search-btn,.search-form button.search-buttton{
    background: #00A5B2;
}
.action-btn .search-btn:hover,.search-form button.search-buttton:hover{
background:  #19707B;
}
.action-btn button,.search-form button.search-buttton {
    font-size: 18px;
    margin: 4px 15px 0 0;
    float: left;
    border: 0;
    height: 40px;
    color: #fff;
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.search-form .field-wrapper input:first-child {
    float: left;
}
.search-form form input[type="text"] {
    height: 40px;
}
.search-form .select2-container-multi .select2-choices {
    border: 2px solid #03A6B5 !important;
}
.search-form .select2-container-multi .select2-choices input{
    height: 36px;
}
.search-wrapper input {
    width: 100% !important;
}
.search-wrapper.field-wrapper {
    margin-bottom: 0px;
}
.search-child {
    clear: both;
    overflow: hidden;
    width: 45%;
}
.search-child-toggle {
    background-color: #ddd;
}
.field-wrapper {
    width: 49%;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    vertical-align: top;
}

.details-label>label:first-child{
    display: none;
}
.details-label{
    margin-bottom: 0;
}
.field-wrapper .select2-container, .field-wrapper .select2-search-field {
    width: 235px;
    margin-right: 45px;
}
.field-wrapper label {
    font-weight: normal;
    width: 153px;
    position: absolute;
    top: 8px;
 
}
form .field-wrapper input {
    width: 235px;
    font-size: 14px !important;
    font-family: "Roboto-Regular" !important;
    margin-right: 45px;
    padding:0 8px;
}
.select2-container-multi .select2-choices .select2-search-field input{}
/*search result*/
.table.table-striped .negative-result td{
    background: #ccc !important;  
     border-radius: 4px !important; 
     padding: 5px 0 !important;
}
.table.table-striped tr{
    border-bottom:none; 
}
.table.table-striped .negative-result{
  text-align: center;
    color: #666; 
    font-style:italic; 
}
.result-title{
    margin-bottom: 20px;
border-bottom: 1px solid #ccc;
padding-bottom: 6px;
color: #777;
font-style: italic;
}
.details-label>label:first-child {
    display: none;
}
/*end of search result*/

.services-and-followup .assessment ul .rating li label, .services-and-followup .assessment ul .rating li span {
    width: auto !important;
}
.assessment ul li label{
    color:#777;
}

.assessment ul li span{
    /*padding:5px 10px !important;*/
    margin-left: 10px;
    /*margin-top: 4px;*/
    border-radius: 4px;
}


.follow-list li,.service-list li{
    width: 100% !important;
} 

.services-and-followup .assessment .rating label,.services-and-followup .assessment .rating span{
    width: auto !important;
    float: left;
}
.assessment .rating label{
    padding: 10px 0;
    color:#777;
    padding-bottom: 0;
}

.assessment .rating span{
    background-color: #f5f5f5;
    padding:5px 8px !important;
    margin-left: 10px;
    margin-top: 4px;
    border-radius: 4px;
    color:#aaa !important;
} 
.service-list li{
    margin-bottom: 10px;
}
/*resent changes*/
.select2-container-multi .select2-choices .select2-search-field input{
    width:100% !important;
    font-size: 14px !important;
}

.select2-container-multi .select2-choices li{
    float:none !important;
}
.select2-container-multi .select2-choices .select2-search-choice{
    float: left !important;
}

.search-radius{
    border-radius: 4px 4px 0 0;
}
/*radio options*/
.radio-options,.choice-wrap{
    width:350px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}
.navbar{
    height: 70px;
}
.logo{
    padding:5px 0;
    float: left;
}
.Lacc-logo{
    width: 60px;
}
.navbar-brand{
    float: left;
    width: 118px;
}

.upload-files-section{
border-top: 1px solid #ccc;
padding-top: 12px;
}
.upload-files-section label{
     color:#03a6b5 !important;
    font-size: 18px;
    padding-top:13px; 
}

#description{
    margin-bottom: 12px;
}

.followup-description p{
    width: 100%;
}

.create-row .toggle-margin{
    margin: 0;
}

/*history page search form*/

.search-wrap .field-wrapper{
    margin-right: 20px;
    width: auto;
}

.field-wrapper label{
    width: 145px;
    vertical-align: middle;
    position: static;
    margin-right: 10px;
    padding-top: 10px;
}

.search-wrap .field-wrapper input{
    width: 361px;
    float: left;
    margin-right: 0;
}

.search-wrap .action-btn{
    display: inline-block;
    padding-top:0;
}

.search-wrap .action-btn button{
    margin:0;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #00A5B2;
    border-color: #00A5B2;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
background-color: #fff;
}

.pagination > li > a, .pagination > li > span{
    color: #00A5B2;
    background-color: #fff;
}

/*table with multiple columns*/

.multi-col{
   margin-top: 30px;
}

.multi-col tbody td{
    padding: 13px 10px !important;
    margin:0;
    position: relative;
}

th.name{
    width: 175px;   
}

th.email{
    width: 190px;
}
th.phone{
    width: 130px;
}

th.role{
    width: 220px !important;
    }

th.isactive{
    width: 83px;
    }

th.description{
    width: 255px;
}

th.permission{
    width: 200px;
}

.case-wrapper table.multi-col th.action{
    width: 70px;
}

.case-wrapper table.multi-col tr td:last-child {
    width: 70px;
}

.case-wrapper table.multi-col td a {
    margin-bottom: 0;
}

.no-list {
    position: absolute;
    width: 940px;
    overflow: hidden;
   left: 0;
    top: 0;
}

.hide-label{
    visibility: hidden !important;
}

.others-specify{
    margin-left: 280px;
    margin-top: 12px;
}

.form-groups-wrapper{
    margin-bottom: 0;
}

.help-block {
    clear: both;
    margin-left: 280px;
    padding-top: 2px;
    padding-left: 8px;
    margin-bottom: -2px;
    font-size: 12px;
    color: #aaa;
}

.hide-section{
    display:none !important;
}


 .nepalAddress > label,
 .otherAddress > label{
    margin: 0;
    padding: 0;
}  

.nepalAddress.form-group,
.otherAddress.form-group{
    margin-bottom: 0;
    display: none;
}
#details[assessment][problems][severeMentalHealthProblems][other-1][value]{
    width: 350px !important;
}

.hidden-label .form-group:nth-child(2) > input {
    margin-right: 0;
}