/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/
.uploadifive-button input:last-child{
	cursor: pointer !important;
}
.uploadifive-button {
	display: block;
    font-size: 14px;
    height: auto !important;
    width: 84px !important;
    border-radius: 4px;
    color: #aaa;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 34px !important;
    margin-top: -12px;
    margin-left: 280px;
    background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.uploadifive-button:hover {
	background: rgb(221,221,221); /* Old browsers */
background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.uploadifive-queue{
	margin-bottom: 20px;
}
.uploadifive-queue-item{
	background-color: #F5F5F5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 8px;
	margin-top: 4px;
	padding: 10px;
	width: 350px;
	margin-left: 280px;
	position: relative;
	font-size: 14px;
	height: 40px!important;
}
.uploadifive-queue-item .close {
	background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
 
}
.uploadifive-queue-item .progress-bar {
	position: absolute;
    left: 0;
    top: 0;
	height: 100%;
	background-color:#dedede;
    width: 100%;
       z-index: 0;
    opacity: .7;
    display: block;
}
.uploadifive-queue-item.complete{
	position: relative;
}
.uploadifive-queue-item.complete:after{
	content: url("../images/done-icon.png");
	position: absolute;
	top:10px;
	right:-25px;
};
#uploadifive-file_upload-queue .error{
 /*clear: both;*/
}
.uploadifive-queue-item.error{
	float: none;
	background: #F5F5F5;
	margin-top: 0;
	position: relative;
}
.uploadifive-queue-item.error:after{
	content: url("../images/error-icon.png");
	position: absolute;
	top:10px;
	right:-25px;
};